<% collection.each do |comment| %>
  <% break if comment.body.nil? && current_user %>
  <div id="comment_<%= comment.id %>" class="well">
    <%= image_tag(comment.user.image.nil? ? no_avatar_image : comment.user.image.picture, class: 'img-thumbnail comment-image') %>
    <span>
      <strong>
        <%= current_user && current_user.id == comment.user.id ? 'Me:' : "#{comment.user.first_name} #{comment.user.last_name}" %>
      </strong>
      <time> <%= comment.created_at.strftime('%m-%d-%Y, at %l:%M%P') %> </time>
    </span>
    <div class="comment-message"><p><%= comment.body %></p></div>
    <div class="comment-panel">
      <%= link_to 'Edit', edit_comment_path(comment) if user_owner_of?(comment) %>
      <%= link_to 'Reply', new_comment_comment_path(comment) if current_user %>
      <%= link_to 'Delete', [comment.post, comment], remote: true, method: :delete if user_owner_of?(comment) %>
      <%= render 'votes/votes', parent: comment, vote_type: 'like' %>
      <%= render 'votes/votes', parent: comment, vote_type: 'dislike' %>
    </div>
    <ul>
      <% unless comment.comments.empty? %>
        <%= render 'comments/comments', :collection => comment.comments %>
      <% end %>
    </ul>
  </div>
<% end %>
