<%= simple_form_for(@post) do |f| %>
  <%= f.input :title %>
  <%= f.input :summary %>
  <%= f.input :body %>
  <%= f.button :submit %>
  <a class="btn btn-default" href="javascript:history.back()">Cancel</a>
<% end %>
